<!--<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Back', restaurants_path %>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.rating %></p>
  <p><%= review.content %></p>
<% end %>> -->

<div class="restaurant-card">
  <%= link_to root_path, class:"button back-btn" do %>
    <i class="fas fa-chevron-circle-left"></i>
  <% end %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="restaurant-card-infos-container">
    <div class="restaurant-card-infos">
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.category %></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
    </div>
      <%= link_to edit_restaurant_path(@restaurant), class:"button edit-btn" do %>
        <i class="fas fa-edit"></i>
      <% end %>
  </div>
</div>

<div class="card-comments-container">
  <div class="card-comments-title">
    <h3>Reviews</h3>
    <%= link_to new_restaurant_review_path(@restaurant), class:"button add-btn" do %>
      <i class="far fa-plus-square"></i><span> Add New Review</span>
    <% end %>
  </div>
  <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
  <% @restaurant.reviews.each do |review| %>
    <div class="card-comment">
      <p><%= review.content %></p>
      <p><% review.rating.times do %>
        <i class="fas fa-star full-star"></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class="far fa-star star"></i>
      <% end %></p>
    </div>
  <% end %>
</div>
